html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px
}

#container {
	height:0px
}

#chart {
	width:500px;
	height:500px;
	border:1px solid black
}

input.fileSelect {
	display:'none
}

#popupWindow {
	font-size:10pt;
	text-indent:2em;
	margin:15px
}
